/* ========== Universal Styling ========== */

* {
box-sizing: border-box;
}

/* ========== Base Styling ========== */

/* a {
  padding: 0 auto;
} */

h2 {
  font-size: 22px;
  font-family: adobe-caslon-pro, serif;
  font-weight: 100;
  /* font-style: italic; */
}

h3 {
  padding: 18px 0px 14px 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 20px;
  font-family: adobe-caslon-pro, serif;
  font-weight: 50;
}

p {
  font-family: adobe-caslon-pro, serif;
  font-size: 19px;
  font-weight: 100;
  padding: 0;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 25px;
}

img {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

nav {
  margin: auto;
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 5px;
  line-height: 1.15;
}

li {
  padding: 15px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
  text-decoration: underline;
}

span {
  font-size: 30px;
}

/* ========== Images ========== */

.the-latest-imgs {
  position: absolute;
  left: 450px;
  max-width: 100%;
  height: 87px;
  width: 116px;
}

.avatar {
  height: 130px;
  width: 130px;
  border-radius: 100%;
  margin-top: 10px;
}

/* ========== Buttons ========== */

.button-more {
  padding: 15px 15px;
  background: none;
  width: 100%;
  margin-bottom: 30px;
}

.more {
  margin: 0px auto;
}

.button-more:hover {
  color: white;
  background: blue;
}

/* ========== Video ========== */

iframe {
  width: 100%;
}

/* ========== Start of Header ========== */

.header-top-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin-bottom: 25px;
  width: 100%;
}

.header-ad {
  border-width: 0px;
  width: 60px;
  height: 50px;
}

.header-wrapper {
  line-height: 5px;
  font-family: 'Manuale', serif;
}

.header-title {
  text-align: center;
}

.header-title-the {
  font-size: 15px;
  font-style: normal;
  font-family: sans-serif;
}

.header-title-austineer {
  margin-top: 0;
  font-size: 35px;
  font-weight: 100;
}

/* This Needs to be turned into a dropdown menu for the mobile version */
/*
.header-nav {
  margin-top: 50px;
  margin-left: 175px;
  list-style: none;
}

.wrapper-header-bottom-nav {
  display: flex:
  justify-content: center;
}

.header-bottom-nav {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
} */

.subscribe-button {
  background: blue;
  color: white;
  border: 0px;
  border-radius: 2px;
  padding: 5px 30px 5px 30px;
  margin: auto;
  margin-left: 5px;
  font-family: 'Roboto Condensed', sans-serif;
}

/* ========== End of Header ========== */



/* ========== Start of Main ========== */
.container {
  padding: 0 1em 0 1em;
}

/* Ad - 01 */
.div-ad-01 {
  display: flex;
  justify-content: center;
  border-top: 3px solid #e5e5e5;

}

.ad-01 {
  width: 100%;
  height: auto;
  margin: 0 auto;
  border-top: 3px solid #e5e5e5;

}

.icon {
  width: 75px;
  height: 55px;
  margin-bottom: 5px;
}


/* Radio Section */
.radio {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 20px;
  padding: 5px;
  align-items: center;
}

.radio-p {
  text-align: center;
  margin-top: 5px;
}

.main-container {
  background: #f4f4f8;
}

/* TOP Stories Section */
/* NOTE CREATE WRAPPERS FOR OTHER SECTIONS */
.wrapper {
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  /* text-align: center; */
}

/* Start of Card */

.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto auto auto;
  text-align: left;
  padding: 20px 0;
  border-bottom: 1px solid #e5e5e5;
}

.category {
  margin-bottom: 10px;
  margin-top: 0px;
  padding-top: 20px;
  font-size: 15px;
  color: red;
  font-family: adobe-caslon-pro, serif;
  /* margin-top: 25px; */
}

.author,
.purchase {
  font-size: 14px;
  font-family: 'Josefin Sans', sans-serif;
}

.card-title {
  font-family: 'Playfair Display SC', serif;
  font-style: normal;
  line-height: 25px;
  margin-top: 0;
  font-size: 22px;
}
/* End of Card */

.purchase {
  margin: 5px 0 5px 0;
  font-size: 12px;
}

/* Start of Title Cards */

.title-card {
  /* font-size: 1px; */
  line-height: 26px;
  text-align: left;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 15px 0;
  font-style: italic;
}

.title-card-center {
  margin-bottom: 20px;
  font-family: 'PT Serif', serif;
  text-align: center;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  font-style: normal;
}

.title-article {
  font-family: 'Vollkorn', serif;
  font-style: normal;
  font-size: 20px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 13px;
  width: 210px;
}

/* End of Title Card */

/* Start of Article Card */
.card-aside {
  border-top: 1px solid #e5e5e5;
  padding-bottom: 25px;
  padding-top: 20px;
  width: 100%;
}

.img-aside {
  position: absolute;
  left: 275px;
  width: 72px;
  max-width: 100%;
  height: 72px;
}

.ad-03 {
    width: 300px;
}


/* ========== The Latest Section ========== */
.the-latest-card {
  position: relative;
}

.the-latest-p {
  max-width: 75%;
  /* width: 250px; */
}

.time-of-publish {
  font-size: 12px;
  margin-left: 15px;
}
/* ========== Newsletter ========== */

.newsletter {
  font-size: 19px;
}

/* ========== Contributors ========== */
.individual-contributor-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 15px;
}

.contributor-h4 {
  margin: 20px 0px 5px 0px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;

}

.contributor-h2 {
  font-size: 20px;
  margin: 0px 0px 10px 0px;
  font-style: normal;
  text-align: center;
}

.span-times {
  font-style: italic;
  font-size: 22px;
}

.all-work {
  font-size: 12px;
  color: blue;
  font-family: 'Josefin Sans', sans-serif;
}

/* ========== Main Video Section ========== */

.video-title {
  margin: 8px 0px 18px 0px;
}

.p-video {
  margin: 20px 0px 19px 0px;
}

/* ========== Daily Cartoon Section ========== */



/* ========== End of Main ========== */
/* ========== Start of Footer ========== */

footer {
  /* background: black; */
  color: white;
}

/* ========== End of Footer ========== */




/* ========== Media Queries ========== */

/* iphone 6/7/8 */
@media (min-width: 667px) {
  .main-container{
    /* width: 70%;
    max-width: 1220px;
    margin: 0 auto;
  } */

  .radio {

  }
}
