/* ========== Universal Styling ========== */

* {
box-sizing: border-box;
}

/* ========== Base Styling ========== */

/* a {
  padding: 0 auto;
} */

h2 {
  font-size: 22px;
  font-family: adobe-caslon-pro, serif;
  font-weight: 100;
  font-style: italic;
}

h3 {
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 20px;
  font-family: adobe-caslon-pro, serif;
  font-weight: 50;
  font-style: italic;
}

p {
  font-family: adobe-caslon-pro, serif;
  font-size: 15px;
  font-weight: 100;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 25px;
}

img {
  width: 323px;
  height: 215px;
}

nav {
  margin: auto;
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 5px;
  line-height: 1.15;
}

li {
  padding: 15px;
  /* border: 2px solid blue; */
}

hr {
  width: 90%;
}

a {
  text-decoration: none;
  color: black;
}

/* ========== Start of Header ========== */

.header-top-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin-bottom: 25px;
  width: 100%;
}

.header-ad {
  /* position: absolute; */
  border-width: 0px;
  width: 60px;
  height: 50px;
}

.header-wrapper {
  line-height: 5px;
  font-family: 'Manuale', serif;
}

.header-title {
  text-align: center;
}

.header-title-the {
  font-size: 15px;
  font-style: normal;
  font-family: sans-serif;
}

.header-title-austineer {
  margin-top: 0;
  font-size: 35px;
  font-weight: 100;
}

/* This Needs to be turned into a dropdown menu for the mobile version */
/*
.header-nav {
  margin-top: 50px;
  margin-left: 175px;
  list-style: none;
}

.wrapper-header-bottom-nav {
  display: flex:
  justify-content: center;
}

.header-bottom-nav {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
} */

.subscribe-button {
  background: blue;
  color: white;
  border: 0px;
  border-radius: 2px;
  padding: 5px 30px 5px 30px;
  margin: auto;
  margin-left: 5px;
  font-family: 'Roboto Condensed', sans-serif;
}

/* ========== End of Header ========== */



/* ========== Start of Main ========== */
.container {
  padding: 0 1em 0 1em;
}

/* Ad - 01 */
.div-ad-01 {
  display: flex;
  justify-content: center;
}

.ad-01 {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.icon {
  width: 75px;
  height: 55px;
  margin-bottom: 5px;
}


/* Radio Section */
.radio {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 20px;
  padding: 5px;
  align-items: center;
}

.radio-p {
  text-align: center;
  margin-top: 5px;
}

.main-container {
  background: #f4f4f8;
}

/* TOP Stories Section */
/* NOTE CREATE WRAPPERS FOR OTHER SECTIONS */
.wrapper {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  /* text-align: center; */
}

/* Start of Card */
.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto auto auto;
  text-align: left;
  padding: 20px 0;
  border-top: 1px solid #e5e5e5;
  width: 100%;
}

.category {
  color: red;
}

.category,
.author {
  margin: 5px 0 5px 0;
  font-size: 12px;
  text-align:
}

.card-title {
  font-family: 'Playfair Display SC', serif;
  font-style: normal;
  line-height: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 22px;
}
/* End of Card */

.purchase {
  margin: 5px 0 5px 0;
  font-size: 12px;
}

/* Start of Title Cards */

.title-card {
  /* font-size: 1px; */
  line-height: 26px;
  text-align: left;
  border-top: 1px solid #e5e5e5;
  padding: 15px 0;
}

.title-article {
  font-family: 'Vollkorn', serif;
  font-style: normal;
  font-size: 20px;
  text-align: left;
}

/* End of Title Card */

/* Start of Article Card */
.card-aside {
  border-top: 1px solid #e5e5e5;
  padding-bottom: 25px;
  padding-top: 20px;
  width: 100%;
}

.img-aside {
  position: absolute;
  left: 250px;
  width: 72px;
  height: 72px;
}
/* ========== End of Main ========== */



/* ========== Start of Footer ========== */



/* ========== End of Footer ========== */




/* ========== Media Queries ========== */

/* iphone 6/7/8 */
@media (min-width: 667px) {
  .main-container{
    /* width: 70%;
    max-width: 1220px;
    margin: 0 auto;
  } */

  .radio {

  }
}
