img {
  width: 230px;
  height: 150px;
}

.header-ad,
.header-title,
.header-nav {
  /* border: 2px solid red; */
}

.header-top-wrapper {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(3, 1fr);
}

.header-ad {
  /* position: absolute; */
  border-width: 0px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
}

.header-wrapper {
  line-height: 5px;
  font-family: 'Manuale', serif;
}

.header-title {
  text-align: center;
}


h1 {
  font-size: 70px;
}

h2 {
  font-size: 30px;
}

.header-title-the {
  margin-top:30px;


}

.header-title-austineer {
  margin-bottom:0 auto;
  padding-bottom: auto;


}


nav {
  margin: auto;
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 5px;
  line-height: 1.15;
}

.header-nav {
  margin-top: 50px;
  margin-left: 100px;
  list-style: none;
}

li {
  padding: 15px;
  /* border: 2px solid blue; */
}

.wrapper-header-bottom-nav {
  display: flex:
  justify-content: center;
}

.header-bottom-nav {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.subscribe-button {
  background: blue;
  color: white;
  border: 0px;
  border-radius: 2px;
  padding: 5px 30px 5px 30px;
  margin: auto;
  margin-left: 5px;
  font-family: 'Roboto Condensed', sans-serif;
}

hr {
  width: 90%;
}

a {
  text-decoration: none;
  color: black;
}

.div-ad-01 {
  display: flex;
  justify-content: center;
}

.ad-01 {
  width: 970px;
  height: 250px;
  margin: 0 auto;
}

.icon {
  width: 90px;
  height: 65px;
  margin-right: 20px;
}

.radio {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  font-size: 20px;
  padding: 5px;
}

.top-stories {
  margin-top: 20px;
  text-align: center;
}
